.main-body {
    width: 100%;
    height: calc( 100% - 50px);
}

body {
    /*background-color: rgba(44,49,55,1);*/
    background-image: url(background.jpg);

}



.left-image {
    width: 100%;
    height: 340px;
}

hr {
    border: 1px solid rgba(155, 155, 155, 1);
}

nav.navbar.navbar-default{
    background-color: #337ab7;
}

a.navbar-brand{
    color: white !important;
    background-color: #1363a7 !important;
}
a.navbar-brand:hover{
    background-color: #1363a7 !important;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
    color: #555;
    background-color: #337ab7;
    color: white;
}

.navbar-default .navbar-nav > li > a {
    color: white;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    background-color: #1363a7;
    color: white;
}
input.ng-invalid{
    border:1px solid darkred;
}
input.ng-untouched{
    border:1px solid #cccccc;
}