<!DOCTYPE html>
<html ng-app="GetWork">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Bootstrap-->
    <link href="./bootstrap3/dist/css/bootstrap.min.css" rel="stylesheet">
    <!--Angular Bootstrap-->
    <link href="angularUi/ui-bootstrap-csp.css" rel="stylesheet">
    <!--Custom css-->
    <link href="index.css" rel="stylesheet">
</head>

<body>
    <!--Navigation Bar Starts-->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
                <a class="navbar-brand">Get Work</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="#">Home<span class="sr-only">(current)</span></a></li>
                    <li><a href="#">About us</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href data-toggle="modal" data-target="#login">Login</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <!--Navigation Bar Ends-->
    <!-- Login Modal begins -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="modal fade" tabindex="-1" id="login">
                    <div class="modal-dialog modal-md">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">
                    &times;
                </button>
                                <h4 class="modal-title text-center ">Login</h4>
                            </div>
                            <div class="modal-body">
                                <center><img src="memberlogin.jpg" class="img-responsive img-fluid" style="border-radius: 50%"></center>
                                <br><br>
                                <form class="form-horizontal" name="loginForm" action="login" method="Post" novalidate>
                                    <div class="form-group">
                                        <label class="control-label col-sm-2" for="inputUserName">Username</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="inputUserName" ng-model="loginusername" placeholder="Enter Username" name="loginusername" required>
                                            <span ng-show="loginForm.loginusername.$touched || loginForm.$submitted" ng-messages="loginForm.loginusername.$error" pattern="^[a]*$">
                                                <span ng-message="required" class="text-danger">You can't leave this empty.</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-2" for="inputPassword">Password</label>
                                        <div class="col-sm-10">
                                            <input type="password" class="form-control" ng-model="loginpassword" id="inputPassword" placeholder="Enter Password" name="loginpassword" required>
                                            <span ng-show="loginForm.loginpassword.$touched || loginForm.$submitted" ng-messages="loginForm.loginpassword.$error">
                                                <span ng-message="required" class="text-danger">You can't leave this empty.</span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-10 col-sm-offset-2">
                                            <select class="form-control" ng-model="status" name="status" required>
                                                <option disabled value="">Please select user type</option>
                                                <option value="user">USER</option>
                                                <option value="company">COMPANY</option>
                                            </select>
                                            <span ng-show="loginForm.status.$touched || loginForm.$submitted" ng-messages="loginForm.status.$error">
                                                <span ng-message="required" class="text-danger">You can't leave this empty.</span>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-sm-10 col-sm-offset-2">

                                            <a data-target="#forgotModal" data-toggle="modal" class="text-primary" style="text-decoration:none;cursor: pointer;">Forgot Password?</a>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-4 col-sm-offset-4">
                                            <button type="submit" class="btn-block btn btn-primary">Login</button>
                                        </div>
                                    </div>
                                </form>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Login modal ends -->
    <!--  Forgot Password Modal -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="modal fade" tabindex="-1" id="forgotModal">
                    <div class="modal-dialog modal-md">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">
                    &times;
                </button>
                                <h4 class="modal-title text-center ">Forgot Password</h4>
                            </div>
                            <div class="modal-body">
                                <center><img src="img/loginmodal/memberlogin.jpg" class="img-responsive img-fluid" style="border-radius: 50%"></center>
                                <br><br>
                                <form class="form-horizontal" action="forgotpass" method="Post">
                                    <div class="form-group">
                                        <label class="control-label col-sm-2" for="inputUserNameForgotPass">Username</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="inputUserNameForgotPass" placeholder="Enter Username" name="forgotusername" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-2" for="inputphone">Phone Number</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="inputPhone" placeholder="Enter  Your Phone Number" name="forgotphone" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-4 col-sm-offset-2">
                                            <select class="form-control" name="status">
  <option value="user">USER</option>
  <option value="company">COMPANY</option>
   </select>
                                        </div>
                                    </div>



                                    <div class="row">
                                        <div class="col-sm-4 col-sm-offset-4">
                                            <button type="submit" class="btn-block btn btn-primary">Get Password</button>
                                        </div>
                                    </div>
                                </form>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <section class="main-body">
        <div class="container-fluid">
            <div class="row">

                <div class="col-sm-6">
                    <h1 style="letter-spacing:20px;" align="center">GETWORK</h1>
                    <img src="ShivamImage.png" class="left-image" alt="Image.jpg">
                    <h2>Hire expert freelancers for your job, online</h2>

                </div>

                <!--Login SignUp Starts-->
                <div class="col-sm-4 col-sm-offset-1">
                    <div class="well">
                        <uib-tabset type="pills">
                            <h2 align="center">SIGNUP</h2>
                            <!-- freelancer pill -->
                            <uib-tab heading="FreeLancer" style="width: 40%;text-align: center;">
                                <hr>
                                <form class="form-group" name="freeForm" novalidate>
                                    <input name="freeUsername" ng-model="freeUsername" class="form-control" type="text" placeholder="Username" required>
                                    <span ng-show="freeForm.freeUsername.$touched || freeForm.$submitted" ng-messages="freeForm.freeUsername.$error">
                                        <span ng-message="required" class="text-danger">You can't leave this empty.</span>
                                    </span>
                                    <br>
                                    <input name="freePassword" ng-model="freePassword" class="form-control" type="password" placeholder="Password" required>
                                    <span ng-show="freeForm.freePassword.$touched || freeForm.$submitted" ng-messages="freeForm.freePassword.$error">
                                        <span ng-message="required" class="text-danger">You can't leave this empty.</span>
                                    </span>
                                    <br>
                                    <input name="freeEmail" ng-model="freeEmail" class="form-control" type="text" placeholder="E-mail" pattern='^(([^<>()\[\]\.,;:\s@\"]+(\.[^<>()\[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$' required>
                                    <span ng-show="freeForm.freeEmail.$touched || freeForm.$submitted" ng-messages="freeForm.freeEmail.$error">
                                        <span ng-message="required" class="text-danger">You can't leave this empty.</span>
                                        <span ng-message="pattern" class="text-danger">Please enter a valid email only.</span>
                                    </span>
                                    <br>
                                    <input name="freeMobile" ng-model="freeMobile" class="form-control" type="text" placeholder="Phone Number"  maxlength="10" minlength="10" pattern="^[789][0-9]{9}$" required>
                                    <span ng-show="freeForm.freeMobile.$touched || freeForm.$submitted" ng-messages="freeForm.freeMobile.$error">
                                        <span ng-message="required" class="text-danger">You can't leave this empty.</span>
                                        <span ng-message="minlength" class="text-danger">Enter a 10 digit mobile number</span>
                                        <span ng-message="pattern" class="text-danger">Please enter a valid phone number only.</span>
                                    </span>
                                    <br>
                                    <input name="freeSkills" ng-model="freeSkills" class="form-control" type="text" placeholder="Skills" required>
                                    <span ng-show="freeForm.freeSkills.$touched || freeForm.$submitted" ng-messages="freeForm.freeSkills.$error">
                                        <span ng-message="required" class="text-danger">You can't leave this empty.</span>
                                    </span>
                                    <br>
                                    <div class="row">
                                        <div class="col-sm-4 col-sm-offset-4">
                                            <button class="cust-btn btn btn-primary btn-block" type="submit">Signup</button>
                                        </div>
                                    </div>
                                </form>
                            </uib-tab>
                            <!-- employer pill -->
                            <uib-tab heading="Employer" style="width: 40%;text-align: center;margin-left: 10%">
                                <hr>
                                <form class="form-group" name="empForm">
                                    <input class="form-control" name="empUsername" ng-model="empUsername" type="text" placeholder="Username" required>
                                    <span ng-show="empForm.empUsername.$touched || empForm.$submitted" ng-messages="empForm.empUsername.$error">
                                        <span ng-message="required" class="text-danger">You can't leave this empty.</span>
                                    </span>
                                    <br>
                                    <input class="form-control" name="empPassword" ng-model="empPassword" type="password" placeholder="Password" required>
                                    <span ng-show="empForm.empPassword.$touched || empForm.$submitted" ng-messages="empForm.empPassword.$error">
                                        <span ng-message="required" class="text-danger">You can't leave this empty.</span>
                                    </span>
                                    <br>
                                    <input class="form-control" name="empEmail" ng-model="empEmail" type="text" placeholder=" E-mail" pattern='^(([^<>()\[\]\.,;:\s@\"]+(\.[^<>()\[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$' required>
                                    <span ng-show="empForm.empEmail.$touched || empForm.$submitted" ng-messages="empForm.empEmail.$error">
                                        <span ng-message="required" class="text-danger">You can't leave this empty.</span>
                                        <span ng-message="pattern" class="text-danger">Please enter a valid email.</span>
                                    </span>
                                    <br>
                                    <input class="form-control" name="empCompanyName" ng-model="empCompanyName" type="text" placeholder="Company Name" pattern="^[A-Za-z0-9\s]*$" required>
                                    <span ng-show="empForm.empCompanyName.$touched || empForm.$submitted" ng-messages="empForm.empCompanyName.$error">
                                        <span ng-message="required" class="text-danger">You can't leave this empty.</span>
                                        <span ng-message="pattern" class="text-danger">Please enter a valid name.</span>
                                    </span>
                                    <br>
                                    <input class="form-control" name="empCompanyAddress" ng-model="empCompanyAddress" type="text" placeholder="Company Address" required>
                                    <span ng-show="empForm.empCompanyAddress.$touched || empForm.$submitted" ng-messages="empForm.empCompanyAddress.$error">
                                        <span ng-message="required" class="text-danger">You can't leave this empty.</span>
                                    </span>
                                    <br>
                                    <input class="form-control" name="empPhone" ng-model="empPhone" type="text" placeholder="Phone Number" maxlength="10" minlength="10" pattern="^[789][0-9]{9}$" required>
                                    <span ng-show="empForm.empPhone.$touched || empForm.$submitted" ng-messages="empForm.empPhone.$error">
                                        <span ng-message="required" class="text-danger">You can't leave this empty.</span>
                                        <span ng-message="minlength" class="text-danger">Enter a 10 digit phone number.</span>
                                        <span ng-message="pattern" class="text-danger">Please enter a valid phone number.</span>
                                    </span>
                                    <br>
                                    <input class="form-control" name="empLocation" ng-model="empLocation" type="text" placeholder="Location" required>
                                    <span ng-show="empForm.empLocation.$touched || empForm.$submitted" ng-messages="empForm.empLocation.$error">
                                        <span ng-message="required" class="text-danger">You can't leave this empty.</span>
                                    </span>
                                    <br>
                                    <div class="row">
                                        <div class="col-sm-4 col-sm-offset-4">
                                            <button class="btn btn-primary btn-block" type="submit">Signup</button>
                                        </div>
                                    </div>
                                    <pre>{{empForm|json}}</pre>
                                </form>
                            </uib-tab>
                        </uib-tabset>
                    </div>
                </div>
                <!--Login Signup Ends-->
            </div>
        </div>
    </section>
    <div class="col-sm-12">
        <h3 align="center"> Millions of small businesses use freelance jobs on GetWork to turn their ideas into reality.</h3>

    </div>
    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-offset-5">
                    <span class="copyright">Copyright &copy; Getwork pvt Ltd.</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </footer>
    <!-- Footer ends -->
</body>
<!--Jquery-->
<script src="jQuery/jquery-3.2.1.min.js" type="text/javascript"></script>

<!--Bootstrap-->
<script src="bootstrap3/dist/js/bootstrap.min.js" type="text/javascript"></script>
<!--Angular Js-->
<script src="./angular/angular.min.js" type="text/javascript"></script>
<!--Angular Messages-->
<script src="angular/angular-messages.min.js"></script>
<!--Angular Bootstrap-->
<script src="angularUi/ui-bootstrap-tpls.js" type="text/javascript"></script>
<!--Custom Js-->
<script src="index.js" type="text/javascript"></script>

</html>
